/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* INSTA APP */

body {
  font-size: 10px;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

.search-bar-container {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  height: 77px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 60px 0;
}

.logos {
  display: flex;
  align-items: flex-start;
}

.logos div {
  background-color: #262626;
  height: 28px;
  margin: 0 16px;
  width: 1px;
}

.instagram-logo {
  width: 103px;
}

.search-bar input {
  background: #fafafa;
  border: solid 1px #dbdbdb;
  text-align: center;
  border-radius: 3px;
  color: #999;
  font-size: 0.9rem;
  padding: 7px;
}

.post {
  display: block;
  width: 614px;
  margin: 0 auto 60px auto;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.post .header {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 16px;
}

span.username {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 5px;
}

.post .header img {
  border-radius: 200px;
  max-width: 32px;
  margin-right: 16px;
  border: 1px solid #dbdbdb;
}

.post .controls {
  padding: 10px 16px 0 16px;
  font-size: 1.5rem;
}

.fa-heart {
  margin-right: 20px;
}

.fa-heart, .fa-comment {
  cursor: pointer;
}

.post .likes {
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: bold;
}

.content img {
  max-width: 614px;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comments > span {
  margin: 0 0 7px 0;
  padding: 0 16px;
  font-size: 1rem;
}

.comments .add-comment {
  padding: 0 16px;
  margin: 10px 0 0 0;
  border-top: 1px solid #dbdbdb;
}

.add-comment input {
  width: 100%;
  padding: 16px 0;
  border: 0;
  outline: 0;
  font-size: 0.9rem;
  color: #000;
}